
LLM_API_BASE=YOUR_LLM_API_BASE
LLM_API_KEY=YOUR_LLM_API_KEY
LLM_CHAT_MODEL=YOUR_CHAT_MODEL
LLM_JUDGE_MODEL=YOUR_JUDGE_MODEL


LLM_TIMEOUT_SECONDS=120
LLM_POOL_MAX=256
LLM_POOL_KEEPALIVE=128

MEGAMEM_SERVER_URL=http://localhost:8000
MEGAMEM_API_KEY=YOUR_MEGAMEM_API_KEY

USE_SECONDARY_LLM_API=false
SECONDARY_LLM_API_BASE=YOUR_SECONDARY_LLM_API_BASE
SECONDARY_LLM_API_KEY=YOUR_SECONDARY_LLM_API_KEY
SECONDARY_LLM_MODEL=YOUR_SECONDARY_LLM_MODEL

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

MEGAMEM_LOCAL_EMBEDDING=1

DATA_DIR=./data
